@page {
  size: A4;
  margin: 170px 0mm;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: Arial, sans-serif;
  position: relative;
  margin: 0;
    padding: 0;

    -webkit-print-color-adjust: exact;

}

.text-light-blue {
    color: #B4C6E7;
}

.bg-light-blue-color {
    background-color: #B4C6E7;
}

.header, .footer {
    width: 100%;
    text-align: center;
      display: block;
  position: fixed;
      left: 0;
  right: 0;
}

.header {
  top: 0;
}

.footer {
  bottom: 0;
}

.watermark {
  position: fixed;
      position: absolute;
  opacity: 0.3;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.content {
  margin-top: 85px !important;
  margin-bottom: 25px !important;
      page-break-inside: avoid;

}

table {
    width: 100%;
    border-collapse: collapse;
      page-break-inside: auto;
}


tr {
  page-break-inside: avoid;
  page-break-after: auto;
}

th, td {
    border: 1px solid black;
    padding: 0px 8px;
    text-align: left;
}

.page-break {
  /* page-break-before: always; */
  page-break-after: always;
}

p{
    margin: 0;
    font-size: 14px;
    text-align: center;
}

ol, .last-part{
    margin-bottom: 0;
    font-size: 13px;
}


.footer img{
    height: 100px;
    width: 100%;
}

.header img {
  height: 90px;
      width: 100%;
}

.footer img {
  height: 80px; /* Match footer height */
  width: 100%;
  object-fit: contain;
}

.watermark img{
    opacity:0.1;
    height: 21cm;
    width: 100% !important;
}

.content h2 {
    color:#FF0101;
}

.signature-img{
    width: 220px;
    position: absolute;
    right: 60px;
    bottom: -40px;
}
